/* sign in FORM */
.logregforms{
  width:412px;
  margin:10vh auto;
  background-color:#f3f3f3;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.logregforms form {
  width: 100%;
  max-width: 410px;
  padding: 15px;
  margin: auto;
}
.logregforms .formcontrol {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.logregforms .formcontrol:focus { z-index: 2; }
.logregforms .formsignin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.logregforms .formsignin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.logregforms button[type="submit"]{ margin-top:10px; }

/* Mobile */

@media screen and (max-width:500px){
  .logregforms{
      width:300px;
  }
}